$f: Helvetica, sans-serif

$dark: #a57a4c
$darker: #84613d
$darkest: #5e452b
$darkester: #221a0f

body
	margin: 0px
	font-family: $f
	background: $darkester
	color: $dark

input
	background: $darkester
	color: $dark
	font-size: 20px

h1, h3, p
	text-align: center